# Terraform local working directory
**/.terraform/*

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan
*.plan

# Terraform crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc
